* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(0, 0, 34);
    color: white;
    font-family: "Poppins", sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(32, 32, 62);
  }

  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 23px;
    cursor: pointer;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: rgb(66, 66, 209);
    font-size: 1.04rem;
  }
  main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 5px;
  }
  .left {
    color: white;
    font-size: 1.5rem;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    margin: 120px 0;
    align-items: center;
  }

  .firstSection > div {
    width: 30%;
    height: 100px;
  }
  .leftSection {
    font-size: 2.5rem;
  }
  .rightSection img {
    width: 80%;
  }
  .purple {
    color: rgb(156, 0, 255);
  }
  #element {
    color: rgb(156, 0, 255);
  }
  .secondSection {
  max-width: 80%;
  margin: auto;
    margin-top: 300px;
    height: 120vh;
  }
  .secondSection h1{
    font-size: 1.9rem;
  }
  .text-gray{
    color: grey;
  }
  .secondSection .box{
    background: white;
width: 80vw;
height: 2px;
margin: 54px 0;
display: flex;
}
.secondSection .vertical{
  height: 95px;
  width: 1px;
  background-color: white;
  margin: 0 130px;
}
.vertical-title{
    position: relative;
    top: 75px;
    width: 150px;
    font-style: bold;
}
.img-top{
  width: 25px;
  position: relative;
    top: -31px;
    left: -12px;
}
.vertical-desc {
    position: relative;
    top: 79px;
    color: grey;
    width: 150px;
    font-size: 9px;
}
footer{
    background-color: rgb(32, 32, 62);
   
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly
}
.footer ul{
     list-style: none;

}
.footer div{
    width: 223px;
}
footer .footer-right{
    text-align: center;
   color: gray;
   padding: 12px 0;

}
.btn{
    background-color: rgb(156, 0, 255);
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
}

/* Path: index.html */